<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jsflzhong.test2_noactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--指定让DialogActivity使用"对话框"式的主题-->
        <activity android:name=".lifeCycle.DialogActivity" android:theme="@style/Theme.AppCompat.Dialog"></activity>
        <activity android:name=".lifeCycle.NormalActivity" />
        <!-- 注册活动(IDE自动生成外层),指定目标java类; 并配置主活动(固定格式) -->
        <activity
            android:name=".FirstActivity"
            android:label="This is FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>

                <!-- 表示:当前activity活动可以响应"com.example.activitytest.ACTION_START"这个action. -->
                <!-- 注意: 字符串需要与activity中的new Intent中的字符串相匹配 -->
                <!-- 该action,是被firstActivity中调用的,即,在firstActivity中点击按钮时,会跳转到本secondActivity的layout中 -->
                <action android:name="com.example.activitytest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity">
            <intent-filter tools:ignore="AppLinkUrlError">

                <!-- 让第三个activity可以打开网页(伪) -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>